@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');

@font-face {
	font-family: japan_heading;
	src: url(/assets/fonts/Japan.ttf);
}

article {
	text-align: justify;
	padding: 10px 25px;
}

body {
	font-size: 0.75vw;
	background-color: #fff8e7;
}

figure {
	position: relative;
}

figure img {
	width: 100%;
	position: relative;
	border-radius: 20px;
}

figcaption {
	text-align: center;
	padding: 5px 6px;
	color: #333;
	width: 100%;
	border-radius: 0 0 20px 20px;
}

h1 {
	padding-left: 10px;
}

ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-nav > li > a {
	line-height: 1.3vw;
}

.navbar-inverse .navbar-nav > li > a.active {
	color: #fff8e7;
	font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
	color: #fff8e7;
	font-weight: bold;
}

.leftside_image {
	float: left;
	width: 35%;
	height: auto;
	padding: 10px 20px;
}

.rightside_image {
	float: right;
	width: 30%;
	height: auto;
	max-height: 30%;
	margin: 10px 20px;
}

.brand {
	float: left;
	border: 0;
	font-size: 16px;
	color: #9d9d9d;
}

.item {
	width: 100%;
	height: 35vw;
	max-height: 500px;
	overflow: hidden;
}

.item img {
	position: absolute;
	top: -20%;
}

.main-title {
	font-weight: bold;
	font-size: 4rem;
	padding-right: 3.5rem;
	font-family: 'japan_heading', serif;
	line-height: 1;
	text-align: center;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0px;
	border: 0;
}

.navigation {
	background-color: #222;
}

.tori li {
	list-style-type: none;
	line-height: 3;
}

#list2 ol {
	font-style: italic;
	font-family: Georgia, Times, serif;
	font-size: 24px;
	color: #333;
	list-style: none;
	counter-reset: my-awesome-counter;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

#list2 ol li {
	counter-increment: my-awesome-counter;
	font-size: 0.8rem;
	display: flex;
	margin-bottom: 0.5rem;
}

#list2 ol li::before {
	content: counter(my-awesome-counter);
	font-weight: bold;
	font-size: 4rem;
	padding-right: 3.5rem;
	font-family: 'japan_heading', serif;
	line-height: 1;
	width: 30px;
	text-shadow: 1px 1px #999999;
	text-align: center;
}

#list2 ol li p {
	padding: 10px;
	font-style: normal;
	font-family: Arial;
	font-size: 13px;
	color: #333;
	border-left: 1px solid #999;
}

#list2 ol li p em {
	display: block;
	font-weight: 900;
	font-family: 'japan_heading', serif;
	font-size: 24px;
	letter-spacing: 3px;
	text-shadow: 1px 1px #999999;
}

#history body {
	font-size: 14px;
	line-height: 1.5;
}

#history h4,
h5,
h6 {
	font-family: "Oswald", sans-serif;
}

.timeline-item {
	padding: 3em 2em 2em;
	margin: 0 3vw 0 11vw;
	position: relative;
	color: rgba(0, 0, 0, 0.7);
	border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.timeline-item::before {
	content: attr(date-is);
	position: absolute;
	left: 1em;
	font-weight: bold;
	top: 0.25em;
	display: block;
	font-family: "japan_heading", sans-serif;
	font-size: 2.5rem;
	letter-spacing: 3px;
}

.timeline-item::after {
	width: 10px;
	height: 10px;
	display: block;
	top: 1em;
	position: absolute;
	left: -6px;
	border-radius: 10px;
	content: "";
	border: 2px solid rgba(0, 0, 0, 0.3);
	background: white;
}

.timeline-item:last-child {
	border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
	border-width: 0 0 0 2px;
}

.timeline-item:first-child {
	padding: 4em 2em 2em;
	border-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0)) 1 100%;
	border-width: 0 0 0 2px;
}

#history .timeline-item:first-child p {
	padding-top: 20px;
}

.timeline-item:first-child::before {
	position: absolute;
	left: 1em;
	top: 1.5em;
}

.timeline-item:first-child::after {
	top: 3em;
	position: absolute;
	left: -6px;
}

.timeline-item figcaption {
	color: white;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

#movie figcaption{
	color: white;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

#history p {
	font-family: "Oswald", sans-serif;
	font-size: 1.5rem;
	padding: 0;
	text-align: justify;
}

.nav-pills > li > a > svg {
	fill: #AAA;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	background-color: transparent;
	fill: #333;
}

.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
	background-color: transparent;
	fill: #333;
}

.nav-pills > li.active > a > svg,
.nav-pills > li.active > a:focus > svg,
.nav-pills > li.active > a:hover > svg {
	transform: scale(1.2);
	-webkit-filter: drop-shadow(0px 0px 7px #000);
	filter: drop-shadow(0px 0px 7px #000);
	fill: #333;
}

.nav-pills > li > a:focus > svg,
.nav-pills > li > a:hover > svg {
	transform: scale(1.2);
	-webkit-filter: drop-shadow(0px 0px 7px #000);
	filter: drop-shadow(0px 0px 7px #000);
	fill: #333;
}

.icon {
	width: 50px;
}

footer {
	background-color: #333;
	color: #fff8e7;
	margin-top: 20px;
}

.m-content{
	width: 70%;
	float: left;
    padding-right: 15px;
    padding-left: 15px;
	position: relative;
}
.m-image{
	width: 30%;
	float: left;
    padding-right: 15px;
    padding-left: 15px;
	position: relative;
}

video{
	width: 70%;
	margin: auto;
}

.bujutsu{
    text-align: center;
}

